name: Verify Renovate config on PR

on:
  workflow_call:

jobs:
  verify-renovate-config:
    name: Verify Renovate config
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Verify Renovate config
        run: npx --yes --package renovate -- renovate-config-validator --strict
