name: Verify Chart works on PR

on:
  workflow_call:

jobs:
  verify-chart:
    name: Verify chart with local built container
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup .NET Core SDK from global.json
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5

      - name: Install helm unittest
        run: helm plugin install https://github.com/helm-unittest/helm-unittest.git

      - name: Start kind cluster
        run: make verify-chart
