name: Verify Chart works on PR

on:
  workflow_call:

jobs:
  verify-chart:
    name: Verify chart with local built container
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup .NET Core SDK from global.json
        uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5

      - name: Install helm unittest
        run: helm plugin install https://github.com/helm-unittest/helm-unittest.git

      - name: Start kind cluster
        run: make verify-chart
