name: Publish nupkg artifacts to NuGet

on:
  workflow_call:
    inputs:
      nuget_artifact:
        description: 'Name of the artifact containing the nupkg files'
        required: true
        type: string
    secrets:
      nuget_api_key:
        required: true

jobs:
  publish-nuget-package:
    name: Publish nupkg artifacts to NuGet
    runs-on: ubuntu-24.04
    env:
      nuget_path: nuget-packages
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8
        with:
          name: ${{ inputs.nuget_artifact }}
          path: ${{ env.nuget_path }}

      - name: Publish
        shell: bash
        run: dotnet nuget push ${{ env.nuget_path }}/*.nupkg --api-key ${{ secrets.nuget_api_key }} --source https://api.nuget.org/v3/index.json
