name: Verify Renovate config on PR

on:
  workflow_call:

jobs:
  verify-renovate-config:
    name: Verify Renovate config
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Verify Renovate config
        run: npx --yes --package renovate -- renovate-config-validator --strict
