name: Verify devcontainer works on PR

on:
  workflow_call:

jobs:
  test-devcontainer:
    name: Verify devcontainer works
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Build and run tests on devcontainer
        uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 # v0.3
        with:
          push: never
          runCmd: make test
