name: Verify Renovate config on PR

on:
  workflow_call:

jobs:
  verify-renovate-config:
    name: Verify Renovate config
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Verify Renovate config
        run: npx --yes --package renovate -- renovate-config-validator --strict
