name: Build and push container image to GitHub Container Registry

on:
  workflow_call:
    inputs:
      version:
        description: 'The version of the container'
        required: true
        type: string
      chart_folder:
        description: 'The path to the chart folder'
        required: true
        type: string
      helm_registry_repository:
        description: 'the repository of the helm registry'
        required: true
        type: string
      prerelease:
        description: 'The pre-release flag'
        required: false
        type: boolean
    secrets:
      helm_registry_token:
        required: true
      
jobs:
  publish-chart:
    name: Publish helm chart
    runs-on: ubuntu-24.04
    env:
      CHART_FOLDER: charts/project-origin-registry
      HELM_REGISTRY_REPOSITORY: project-origin/helm-registry

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          path: this

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          repository: ${{ inputs.helm_registry_repository }}
          path: helm-registry
          ssh-key: ${{ secrets.helm_registry_token }}

      - name: Get chart name
        id: variables
        run: |
          echo "name=$(yq .name < this/${{ inputs.chart_folder }}/Chart.yaml)" >> $GITHUB_OUTPUT

      - name: Set annotation if pre-release
        if: ${{ inputs.prerelease }}
        run: |
          yq eval '.annotations += {"artifacthub.io/prerelease": "true"}' -i this/${{ inputs.chart_folder }}/Chart.yaml

      - name: Set appVersion if empty
        run: |
          if [ "$(yq eval '.appVersion' this/${{ inputs.chart_folder }}/Chart.yaml)" = "null" ]; then
          yq eval '.appVersion = "${{ inputs.version }}"' -i this/${{ inputs.chart_folder }}/Chart.yaml
          fi

      - name: Package and generate index
        run: |
          helm repo add bitnami-charts https://charts.bitnami.com/bitnami
          helm dependency build this/${{ inputs.chart_folder }}
          helm package this/${{ inputs.chart_folder }} --version ${{ inputs.version }} --destination helm-releases
          helm repo index helm-releases --merge helm-registry/index.yaml --url https://github.com/${{ github.repository }}/releases/download/v${{ inputs.version }}/
          cp helm-releases/index.yaml helm-registry/index.yaml

      - name: Upload release assets
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        with:
          files: helm-releases/${{ steps.variables.outputs.name }}-${{ inputs.version }}.tgz

      - name: Upload workflow artifact
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7
        with:
          path: helm-releases/${{ steps.variables.outputs.name }}-${{ inputs.version }}.tgz

      - name: Commit index changes
        run: |
          cd helm-registry
          git config --local user.name github-actions
          git config --local user.email github-actions@github.com
          git add index.yaml
          git commit -m "Update index.yaml for ${{ steps.variables.outputs.name }}-${{ inputs.version }}"
          git push
