name: Build and push container image to GitHub Container Registry

on:
  workflow_call:
    inputs:
      imagename:
        description: 'The name of the image, example: ghcr.io/project-origin/wallet-server'
        required: true
        type: string
      version:
        description: 'The version of the container'
        required: true
        type: string
      context:
        description: 'The path to for the context for docker'
        required: true
        type: string
      dockerfile:
        description: 'The path to the dockerfile'
        required: true
        type: string
      push: 
        description: 'If the image should be pushed to the registry'
        required: false
        type: boolean
      platforms:
        description: 'The platforms to build the image for, defaults to ”linux/amd64,linux/arm64”'
        required: false
        type: string
        default: 'linux/amd64,linux/arm64'

jobs:
  publish-server-container:
    name: Publish Wallet Server container
    runs-on: ubuntu-24.04
    env:
      project: src/ProjectOrigin.WalletSystem.Server
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Log in to the Container registry if token is set
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        if: inputs.push
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          platforms: ${{ inputs.platforms }}
          provenance: false
          context: ${{ inputs.context }}
          file: ${{ inputs.dockerfile }}
          push: ${{ inputs.push }}
          tags: ${{ inputs.imagename }}:${{ inputs.version }}
