name: Verify devcontainer works on PR

on:
  workflow_call:

jobs:
  test-devcontainer:
    name: Verify devcontainer works
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Build and run tests on devcontainer
        uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 # v0.3
        with:
          push: never
          runCmd: make test
