name: SonarCloud

on:
  workflow_call:
    secrets:
      SONAR_TOKEN:
        required: true

jobs:
  build:
    name: sonar-analysis
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: "microsoft"
          java-version: "17"

      - name: Setup .NET Core SDK from global.json
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5

      - name: Build
        shell: bash
        run: |
          make build

      - name: Install dotnet-sonarscanner
        shell: bash
        run: |
          dotnet tool install --global dotnet-sonarscanner

      - name: Install dotnet-coverage
        shell: bash
        run: |
          dotnet tool install --global dotnet-coverage

      - name: Run Analysis
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        shell: bash
        run: |
          dotnet sonarscanner begin -k:"${{ vars.SONAR_PROJECTKEY }}" -o:"${{ vars.SONAR_ORGANIZATION }}" -d:sonar.token="${{ secrets.SONAR_TOKEN }}" -d:sonar.host.url="https://sonarcloud.io" -d:sonar.cs.vscoveragexml.reportsPaths=coverage.xml
          dotnet build --no-incremental --no-restore
          dotnet-coverage collect 'make sonarcloud-test' -f xml -o "coverage.xml"
          dotnet sonarscanner end -d:sonar.token="${{ secrets.SONAR_TOKEN }}"
