name: Runs Renovate on a schedule

on:
  schedule:
    # Run at 8am-2pm UTC on weekdays
    - cron: 0 8-14 * * 1-5
  push:
    branches:
      - main
    paths:
      - 'renovate-defaults.json'
      - '.github/renovate-config.json'
      - '.github/workflows/scheduled-renovate.yaml'

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2
        id: get_installation_token
        with:
          app_id: ${{ vars.RENOVATE_GH_APP_ID }}
          private_key: ${{ secrets.RENOVATE_GH_APP_PRIVATE_KEY }}

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@d65ef9e20512193cc070238b49c3873a361cd50c # v46.1.1
        with:
          configurationFile: .github/renovate-config.json
          token: ${{ steps.get_installation_token.outputs.token }}

